<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>create chat</title>
</head>

<body>
  <form action="/chatlist" method="get">
    <input type="submit" value="back" id="back" />
  </form>

  <label for="user-id">user id:</label>
  <input type="text" id="user-id" />
  <button id="search">検索</button>

  <ul id="searchresult"></ul>
  <div>[invited members]</div>
  <ul id="adduserlist"></ul>

  <label for="chat-name">chat name:</label>
  <input type="text" id="chat-name"/>
  <button id="regist">登録</button>
</body>
<script src="js/chatcreate.js"></script>

</html>